/*
primary color :  #FDB147
secondary color: old lace / black
tertiary color:  #282828
*/

*{
    font-family: "Anybody", sans-serif;
    
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #FDB147;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #282828;
}

#home,#skills,#projects,#education,#contacts{
    scroll-margin-top: 121px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #282828;
    overflow-x: hidden;
    margin: 0;
    flex-wrap: wrap;
}

header{
    background-color: #282828;
    border-bottom: solid 24px #FDB147;
    min-height: max-content;
    max-height: 118px;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: oldlace;
    width: 100%;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

a{
    text-decoration: none;
}

footer{
    background-color: #FDB147;
    height: 120px;
    gap: 40px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: larger;
    font-weight: medium;
    text-decoration: none;
}

footer p{
    margin: 0;
    font-size: medium;
}

.footercontainer{
    display: flex;
    text-decoration: none;
    color: black;
    gap: 40px;
}

.etcs{
    text-decoration: none;
    color: #000;
    font-weight:  500;
    transition: ease-in 0.2s;
}

.etcs:hover{
    transition: ease-in 0.2s;
    text-decoration: underline #000 3px;
    text-underline-offset: 8px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 30px;
    margin-right: 15px;
}

nav a{
    color: oldlace;
    margin-left: 20px;
    font-weight: 600;
    transition: ease 0.2s;
}

nav a:hover {
    transition: ease 0.2s;
    text-decoration: underline #FDB147 3px;
    text-underline-offset: 8px;
    color: #FDB147;
}

.cjah1 {
    transition: all 0.5s ease;
    color: #FDB147;
    text-decoration: none;
    margin: 0;
}

.cjah1:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#home{
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}


#hi{
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}

.cja{
    font-size: 50px;
    font-weight: bold;
    color: #FDB147;
}



.first-home-contents{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-bottom: 150px;
}

.homepic{
    min-width: 25vh;
    max-width: 50vh;
    width: 50vh;
    height: auto;
    border-radius: 100%;
    transition: 0.5s ease;
    background-color: #FDB147;
}

.homepic:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px #FDB147;
}
.second-home-contents{
    display: inline-block;
    max-width: 700px; 
    min-width: 200px;
    margin-bottom: 150px;
}

.second-home-contents p {
    font-size: large;
    margin: 0 0 10px 0;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: oldlace;
    flex-wrap: wrap;
    gap: 20px;
    min-width: 200px;
}

.home-mediabuttons-container{
    display: flex;
}

.media-button{
    display: inline-flex;
    padding: 16px;
    background-color: transparent;
    border: solid 1px#FDB147;
    border-radius: 10vh;
    color:#FDB147;
    font-family: "Montserrat";
    transition: ease 0.5s;
    margin-right: 5px;
    font-size: 20px;
}

.media-button:hover{
    background-color: #FDB147;
    color: black;
    transition: ease 0.5s;
    cursor: pointer;
}


.dlcvresume{
    padding: 16px;
    background-color: transparent;
    border: solid 1px #FDB147;
    border-radius: 10vh;
    color: #FDB147;
    transition: ease 0.5s;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 650;
    align-items: center;
    justify-content: center;
}

.dlcvresume:hover{
    background-color: #FDB147;
    box-shadow: 0 0 12px #FDB147;
    color: black;
    transition: ease 0.5s;
    cursor: pointer;
}

.Containertxt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: auto;
    margin-left: 80px;
    margin-bottom: 50px;
    padding-top: 25px;
}

#txtlogo{
    font-size: 75px;
}

#skills{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: oldlace;
    padding-bottom: 20px;
}

.skillscontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 40px;
    border: solid 1px;
    width: 80%;
    height: auto;
    padding: 50px;
    margin: 0 auto;
    border-radius: 18px;
}

.softskills{
    display: grid;
    height: auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    min-width: 10px;
}

.softskills p{
    border: solid 1px;
    border-radius: 20px;
    font-size: small;
    padding: 8px;
    transition: ease 0.2s;
    background-color: #FDB147;;
}

.hardskills img{
    margin: 0;
    padding: 0;
    min-width: 50%;
    height: auto;
}

#figma{
    width: 125px;
}

#office{
    width: 120px;
}

#cpp{
    width: 70px;
}

#htmlncss{
    width: 140px;
}


.hardskills{
    display: flex;
    gap: 50px;

}

.hardskillschild{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: solid 1px;
    border-radius: 12px;
    width: 120px;
    height: auto;
    min-width: 80px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    transition: ease 0.5s;
}

.hardskillschild:hover{
    transform: translate(-4px, -4px); 
    box-shadow: 10px 10px 0px 0px #000;
}

.hardskillschild p{
    margin-top: 0;
    align-self: flex-start;
    font-weight: 500;
}


#projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: #FDB147;
}

.projectscontainer{
    display: grid;
    justify-self: center;
    grid-auto-flow: column;  
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 30px;
    margin-top: 50px;
}

.myprojects{
    display: grid;
    min-height: 45px; 
    height: 45px;
    padding: 16px;
    text-decoration: none;
    background-color: transparent;
    border: #FDB147 1px solid;
    box-shadow: 4px 4px 0px 0px rgba(253, 177, 71, 0.6);
    width: 330px;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 16px;
    transition: ease 0.5s;
    font-weight: medium;
    text-align: center;
    font-size: small;
    color: #FDB147;
}

.projectscontainer a{
    display: flex;
    width: fit-content;
}

.myprojects p{
    margin: 0;
}


.myprojects:hover{
    transform: translate(-4px, -4px);
    border-color: #000;
    box-shadow: 10px 10px 0px 0px #fdb147d3;
    font-weight: medium;
    cursor: pointer;
    transition: ease 0.5s;
    background-color: #FDB147;
    color: #000;
}

#education{
    width: 100%;
    min-height: 100vh;
    background-color: oldlace;
    padding-bottom: 80px;
}

.educcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 20px;
}

.educatt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid;
    gap: 20px;
    width: 620px;
    padding: 24px;
    border-radius: 25px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    transition: ease 0.5s;
}

.educatt:hover{
    transform: translate(-4px, -4px); 
    box-shadow: 10px 10px 0px 0px #000;
}

.educatt p{
    font-size: larger;
    font-weight: 500;
}


.educatt span{
    opacity: 80%;
    font-size: small;
}


.school{
    display: flex;
    flex-direction: column;
}

#assumption{
    align-self: flex-start;
}

#nardo{
    align-self: flex-end;
}

#bicis{
    align-self: flex-start;
}

#contacts{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: #FDB147;
}

.contactscontainer{
    display: grid;
    grid-auto-flow: column;  
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-content: center;
    width: auto;
    row-gap: 40px;
    column-gap: 280px;
    margin: 0;
}

.contactbuttons{
    width: auto;
    font-size: 30px;
    padding: 18px;
    border: 1px solid #FDB147;
    background-color: transparent;
    color: #FDB147;
    border-radius: 100%;
    transition: ease 0.5s;
}

.contactbuttons:hover{
    background-color: #FDB147;
    color: black;
    transition: ease 0.5s;
    cursor: pointer;
}

.contactelements{  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    padding: 12px;
    width: auto;
}

.contactxt{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Social{
    margin: 0;
    font-size: x-large;
    font-weight: 600;
}

.Socialname{
    margin: 0;
    font-size: 12px;
    opacity: 70%;
}

h2{
    font-size: 65px;
    padding-top: 18px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bolder;
    gap: 36px;
}


.menu-icon{
    display: none;
    font-size: 32px;
    color: #FDB147;
    cursor: pointer;
}

@media (max-width: 1180px){
    #home{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .homepic{
        width: 42vh;
    }

    .first-home-contents,.second-home-contents{
        margin: 0;
    }
    
    .second-home-contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 120px;
    }

    .home-mediabuttons-container{
        align-items: center;
    }

    #hi{
        font-size: 30px;
    }

    .cja{
        font-size: 40px;
    }
    
    .dlcvresume{
        margin-top: 20px;
    }

    .second-home-contents p{
        font-size: medium;
    }

    .skillscontainer{
        width: 80%;
    }

    .hardskillschild{
        padding: 16px;
    }


    .myprojects{
        width: 200px;
        padding: 16px;
    }

    #assumption{
        align-self: center;
    }

    #nardo{
        align-self: center;
    }

    #bicis{
        align-self: center;
    }
}

@media (max-width: 1000px){

    .softskills{
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }


    .hardskills{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    .contactscontainer{
        column-gap: 150px;
    }

}

@media (max-width: 900px) {

    .myprojects{
        padding: 12px;
    }

}

@media (max-width: 830px){

    .menu-icon{
        display: block;
    }

    .cjah1{
        height: 33px;
        font-size: 28px;
    }

    nav{
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        flex-direction: column;
        gap: 20px;
        background-color: #282828;
        padding: 20px;
        border-radius: 12px;
        border: 2px solid #FDB147;
    }

    nav a{
        margin: 0;
    }

    nav.active{
        display: flex;
    }

    .skillscontainer{
        flex-direction: column;
    }

    .projectscontainer{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

    .projectscontainer > :last-child{
        grid-column: 1 / 3;
        justify-self: center;
    }

    #contacts{
        padding-bottom: 20px;
    }

    .contactscontainer{
        grid-auto-flow: row;
    }

    
}

@media (max-width: 790px){

    .second-home-contents p{
        font-size: small;
        padding-left: 20px;
        padding-right: 20px;
    }

    #hi{
        font-size: 20px;
    }

    .cja{
        font-size: 30px;
    }

    .skillscontainer{
        width: 80%;
        gap: 20px;
        padding: 24px;
        min-width: 0;
    }

    .softskills{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .Containertxt{
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    h2{
        font-size: 30px;
    }

    #txtlogo{
        font-size: 50px;
    }

    .educcontainer{
        gap: 40px;
    }

    .educatt{
        width: 500px;

    }

    .educatt img{
        width: 100px;
    }

    .educatt p{
        font-size: medium;
        font-weight: 400;
    }


    .educatt span{
        font-size: x-small;
    }
}

@media (max-width: 580px) {
    
    .homepic{
        width: 40vh;
    }

    #hi{
        font-size: 15px;
    }

    .cja{
        font-size: 25px;
    }

    .softskills{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .hardskills{
        gap:30px;
    }
    
    .hardskillschild{
        padding: 10px;
    }

    .projectscontainer{
        gap: 20px;
        grid-template-columns:1;
    }
    

    .myprojects{
        width: 150px;
    }
    

    .educatt img{
        width: 80px;
    }

    .educatt{
        width: 300px;
        gap: 10px;
    }

    footer{
        font-size: medium;
    }

    footer p{
        font-size: small;
    }

    .footercontainer{
        gap: 20px;
    }
}


@media(max-width: 415px){

    .cjah1{
        font-size: 25px;
    }

    .homepic{
        width: 35vh;
    }

    #hi{
        font-size: 12px;
    }

    .cja{
        font-size: 20px;
    }

    .second-home-contents p{
        font-size: small;
    }

    .media-button{
        padding: 10px;
    }

    .dlcvresume{
        padding: 12px;
    }

    .hardskillschild{
        padding: 8px;
        width: 80%;
    }

    #figma{
        width: calc(125px - 20%);
    }

    #office{
        width: calc(120px - 20%);
    }

    #cpp{
        width: calc(70px - 20%);
    }

    #htmlncss{
        width: calc(140px - 20%);
    }

    .myprojects{
        width: 100px;
        font-size: x-small;
    }

    .educatt{
        padding: 16px;
    }
    
}

